backup/
frontend/icons/elementary-icons/*.png
frontend/icons/elementary-icons/*.svg
frontend/icons/mainicon/*.png
frontend/icons/mainicon/*.ico
frontend/lib/
frontend/foonote
frontend/*.res
frontend/*.exe
frontend/*.dll
frontend/*.so
frontend/*.foonote
frontend/*.ini
frontend/*.dbg
frontend/*.lrj
frontend/*.lps
frontend/.*
frontend/locale/*.mo
a
a.*
.*
.vscode
